{% extends "base.html" %}

{% block content %}
	<section class="principal">

		<div class="contenedor">

			<h1 class="principal__titulo">Películas</h1>
			<span class="principal__subtitulo">Encuentra las mejores películas que deseas.</span>

			<div class="libros">

				{% for movie in movies %}
					<article class="libro">
						
						<img src="{{ MEDIA_URL }}{{ movie.image }}" alt="" class="libro__img">
						<div class="libro__sombra">

							<h3 class="libro__titulo"><a href="{% url 'movies:movie_detail' movie.slug %}">{{ movie.name }}</a></h3>
							<span class="libro__autor">Acción</span>

						</div>

					</article>
				{% endfor %}

			</div>
		</div>
	</section>
{% endblock content %}
